.body
{
    background-image:url("https://cdn.pixabay.com/photo/2020/03/26/10/58/norway-4970081_1280.jpg");
    position:fixed;
    min-width:100%;
    min-height:100%;
    background-size:cover;
    background-position:center;
}

.body1{
margin-top:10%;
height:500px;
width:400px;
background-color:rgba(255, 253, 253, 0.5);
border-radius:15px;
}
.bottomtext
{
    text-align:center;
}
