.arrowicon
{
    font-size:60px;
    #background-color:pink;
    height:60px;
    align-items:center;
}
.arrowicon:hover{
     transform: scale(1.05);
    filter:drop-shadow(.5px 1.5px .5px #585858);
}
.iconDiv
{
    display:flex;
    align-items:center;
    
}