.flex-container {
  display: flex;
  #background-color: DodgerBlue;
  width:auto;
    align-content:center;
}

.flex-container > div {
  #background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
}
flex-containericon
{
flex-direction:row-reverse;
}